
<style>
	.draggable-paper {
		position: absolute;
		border: 1px solid #d3d3d3;
	}

	#paper-head {
		padding: 10px;
		cursor: move;
		background-color: #2196F3;
		color: #fff;
	}
</style>


<section class="flex-1 px-4 py-8">
	<div class="flex flex-col " style="height: 200px;">
		<div  class="flex flex-col bg-white draggable-paper" style="line-height: 1; width: 210px; height: 150px;">
			<div id='paper-head' class="flex bg-gray-700"> 
				<div id='origin'  class="flex-1">
					<h1 class="text-center"> CC303-M </h1>
				</div>
			</div>
			<div class="flex items-center justify-center flex-1">
				<h1>
					BSCS-NS-3A ( 3 hours )
				</h1>
			</div>
		</div>
	</div>

	<div class="flex flex-col " style="height: 200px;">
		<div  class="flex flex-col bg-white draggable-paper" style="line-height: 1; width: 210px; height: 150px;">
			<div id='paper-head' class="flex bg-gray-700"> 
				<div id='origin'  class="flex-1">
					<h1 class="text-center"> CC303-M </h1>
				</div>
			</div>
			<div class="flex items-center justify-center flex-1">
				<h1>
					BSCS-NS-3A ( 3 hours )
				</h1>
			</div>
		</div>
	</div>

	<div class="flex flex-col " style="height: 200px;">
		<div  class="flex flex-col bg-white draggable-paper" style="line-height: 1; width: 210px; height: 150px;">
			<div id='paper-head' class="flex bg-gray-700"> 
				<div id='origin'  class="flex-1">
					<h1 class="text-center"> CC303-M </h1>
				</div>
			</div>
			<div class="flex items-center justify-center flex-1">
				<h1>
					BSCS-NS-3A ( 3 hours )
				</h1>
			</div>
		</div>
	</div>
</section>