
{% extends 'base.html' %}

{% load static wagtailimages_tags %}


{% block header %}
<!--Header-->
<header>
    <div class="p-10 font-bold text-center place-self-center">
        <a href="#">
            <img class="mx-auto mb-2" src="{% static 'img/icons/tuplogo.webp' %}" alt="tup logo">
            <h1>TECHNOLOGICAL UNIVERSITY</h1>
            <h1>OF THE PHILIPPINES</h1>
        </a>
    </div>
</header>

<!--Navbar-->
<nav class="bg-red-700 ">
    <div class="flex">
    <div class="flex-1 ">
        <div class="flex justify-center">
            <ul class="flex text-center text-white lg:hidden ">
            <li class="ml-20"><a class="block px-0 px-3 py-3 pt-4 border-b-2 border-transparent hover:border-white lg:hidden" href="student time.html"><span>TIME</span></a></li>
            <li class="ml-20"><a class="block px-0 px-3 py-3 pt-4 border-b-2 border-transparent border-white lg:hidden" href="student overview.html"><span>OVERVIEW</span></a></li>
            </ul>
        </div>
    </div>

    <div class="flex justify-end text-white lg:hidden">
        <button class="p-4 mobile-menu-button focus:outline-none focus:bg-red-600 ">
        <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" />
        </svg>
        </button>
    </div>
    </div>

    <div class="flex justify-center">
    <div class="absolute inset-y-0 left-0 z-10 px-2 space-y-6 transition duration-150 ease-in-out transform -translate-x-full bg-red-700 sidebar lg:relative lg:translate-x-0">
        <div class="w-full lg:flex">
        <div class="pb-4 lg:flex md:pb-0">
            <ul class="pb-2 text-white md:pb-0 lg:flex ">
                <li class="mr-20"><a  class="block px-0 py-2 pt-4 border-b-2 border-transparent border-white lg:px-3" href="/class-schedule"><span>CLASS SCHEDULE</span></a></li>
                <li class="mr-20"><a class="block px-0 py-2 pt-4 border-b-2 border-transparent lg:px-3 hover:border-white" href="/instructor-schedule"><span>
                    {% if user.request.students %}
                    INSTRUCTOR SCHEDULE
                    {% else %}
                    SECTIONS SCHEDULE
                    {% endif %}
                </span></a></li>
                <li><a  class="block px-0 py-2 pt-4 border-b-2 border-transparent lg:px-3 hover:border-white" href="/room-schedule"><span>ROOM SCHEDULE</span></a></li>
            </ul>
        </div>
        </div>
    </div>
    </div>
</nav>

{% endblock %}

{% block content %}
<!--Course Details-->
<section class="flex flex-wrap mb-20 overflow-hidden">
    <div class="w-full pt-10 pl-16 overflow-hidden xl:w-1/4">
        <div class="mb-3 font-bold uppercase">
            <h1>Welcome Back!</h1>
            <br>
            <div class="flex flex-row mb-2">
              {% image user.profile_picture fill-50x50 as user_image %}
              <img src='{{user_image.url}}' class="w-12 h-12 mr-3 bg-gray-200 rounded-full">
              <div class="mr-3">
                <h1 class="font-extrabold">{{ user.first_name }} {{ user.middle_name }}. {{ user.last_name }}</h1>
                <ul class="flex space-x-3">
                    {% if request.user.professors %}
                        <li>Professor</li>
                    {% endif %}

                    {% if request.user.students %}
                        <li>Student</li>
                    {% endif %}
                  <li>|</li>
                  <li>
                      {{user.choose_department.Choose_College.acronym}}
                  </li>
                  <li>|</li>
                  <li><a href="/logout" class="font-medium text-red-700 underline hover:text-gray-400"> Logout</a></li>
                </ul>
              </div>
            </div>
        </div>
        <div class="w-56 border-b-2 border-gray-300 rounded"></div>
        <div class="z-0 hidden mt-7 lg:flex ">
            <a href="/class-schedule">
                <div class="px-6 py-3 bg-white border-4 border-gray-400 rounded-l-2xl w-28">
                <h1 class="font-bold">TIME</h1>
                </div>
            </a>
            <a href="/">
                <div class="px-3 py-3 bg-gray-400 border-4 border-gray-400 rounded-r-2xl w-28">
                <h1 class="font-bold">OVERVIEW</h1>
                </div>
            </a>
        </div>
        <!--Mobile to Medium screen Course Details-->
        <div class="flex flex-row w-full h-auto pt-5 overflow-visible lg:hidden">
            <div class="relative z-10 flex-col inline-block w-3/5 h-auto sm:w-full" x-data="{open: false}">
            <button @click="open = !open" class="flex inline-block p-2 pl-3 pr-1 text-gray-700 shadow cursor-pointer focus:outline-none hover:text-black " :class="{ 'shadow-none border-indigo-300': open}">
                View details
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" :class="{'rotate-180': open}" class="inline-block w-6 h-6 ml-1 text-red-700 duration-300 transform fill-current"><path fill-rule="evenodd" d="M15.3 10.3a1 1 0 011.4 1.4l-4 4a1 1 0 01-1.4 0l-4-4a1 1 0 011.4-1.4l3.3 3.29 3.3-3.3z"/></svg>
            </button>
            <div class="z-10 block w-full overflow-visible shadow-xl">
                <ul x-show="open" class="absolute left-0 visible text-indigo-600 origin-top bg-white border rounded shadow-xl w-min sm:w-48"
                x-transition:enter="transition ease-out duration-200"
                x-transition:enter-start="opacity-0 transform scale-y-50"
                x-transition:enter-end="opacity-100 transform scale-y-100"
                x-transition:leave="transition ease-in duration-300"
                x-transition:leave-end="opacity-0 transform scale-y-50"
            >
                <li><a href="#" class="block px-4 py-1 border-b hover:bg-indigo-100">Total Units: {{ units }}</a></li>
                <li><a href="#" class="block px-4 py-1 border-b hover:bg-indigo-100">
                    {% if total_subjects %}
                        Total Subjects: {{ total_subjects }}
                    {% endif %}
                    {% if total_schedule %}
                        Total Schedule: {{ total_schedule }}
                    {% endif %}
                </a></li>
                {% if user.section %}
                <li><a href="#" class="block px-4 py-1 border-b hover:bg-indigo-100">Section: {{ user.section }}</a></li>
                {% endif %}
                <li><a href="#" class="block px-4 py-1 border-b hover:bg-indigo-100">Term/Sem: {{ user.section.sem }}</a></li>
                <li><a href="#" class="block px-4 py-1 border-b hover:bg-indigo-100">School Year: {{ school_year }}</a></li>
            </ul>
            </div>
            </div>

            <div class="relative flex-col inline-block w-2/5 h-auto sm:w-2/5" x-data="{open: false}">
            <button @click="open = !open" class="flex inline-block p-2 pl-3 pr-1 text-gray-700 shadow cursor-pointer focus:outline-none hover:text-black " :class="{ 'shadow-none border-indigo-300': open}">
                Sort
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" :class="{'rotate-180': open}" class="inline-block w-6 h-6 ml-1 text-red-700 duration-300 transform fill-current" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4" />
                </svg>
            </button>
            
            <div class="overflow-visible">
                <ul x-show="open" class="absolute left-0 z-10 text-indigo-600 origin-top bg-white border rounded shadow w-min"
                x-transition:enter="transition ease-out duration-200"
                x-transition:enter-start="opacity-0 transform scale-y-50"
                x-transition:enter-end="opacity-100 transform scale-y-100"
                x-transition:leave="transition ease-in duration-300"
                x-transition:leave-end="opacity-0 transform scale-y-50"
                >
                <li><a href="#" class="block px-4 py-1 border-b hover:bg-indigo-100">By Units</a></li>
                <li><a href="#" class="block px-4 py-1 border-b hover:bg-indigo-100">By Schedule</a></li>
                </ul>
            </div>
            </div>
        </div>
        <!--End of Mobile to Medium screen Course Details-->

        <div class="hidden w-56 mt-2 border-b-4 border-gray-300 rounded lg:block"></div>
        <div class="hidden mt-7 lg:block">
            <div class="w-56 bg-gray-400 border-l-8 border-red-700">
                <h2 class="py-2 ml-2 font-bold">Total Units: {{ units }}</h2>
            </div>
            <div class="w-56 mt-2 bg-gray-400 border-l-8 border-red-700">
                <h2 class="py-2 ml-2 font-bold">
                    {% if total_subjects %}
                        Total Subjects: {{ total_subjects }}
                    {% endif %}
                    {% if total_schedule %}
                        Total Schedule: {{ total_schedule }}
                    {% endif %}
                </h2>
            </div>

            {% if user.section %}
            <div class="w-56 mt-2 bg-gray-400 border-l-8 border-red-700">
                <h2 class="py-2 ml-2 font-bold">Section: {{ user.section }}</h2>
            </div>
            {% endif %}

            <div class="w-56 mt-2 bg-gray-400 border-l-8 border-red-700">
                <h2 class="py-2 ml-2 font-bold">Term/Sem: {{ user.section.sem }}</h2>
            </div>
            <div class="w-56 mt-2 bg-gray-400 border-l-8 border-red-700">
                <h2 class="py-2 ml-2 font-bold">School Year: {{ school_year }}</h2>
            </div>
        </div>
    </div>
    <div class="absolute z-0 w-full mt-24 border-b-4 border-gray-300 rounded lg:hidden inset-y-2/4"></div>

    <!--Mobile to Medium screen Table-->
    <div class="flex flex-col flex-wrap w-full h-auto pt-5 my-4 divide-y divide-gray-300 mt-14 lg:hidden">
        <div class="relative grid w-full grid-cols-3 gap-4 my-2 leading-6" x-data="{open: false}">
        <div class="w-48 pl-8">
            <button @click="open = !open" class="focus:outline-none bg-red-700 rounded-full overflow-hidden shadow cursor-pointer inline-block text-gray-700 p-2 pl-3.5 pr-2 " :class="{ 'shadow-none border-indigo-300': open}">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" :class="{'rotate-180': open}" class="inline-block w-6 h-6 -ml-1 leading-5 text-center text-white align-middle duration-300 transform fill-current"><path fill-rule="evenodd" d="M15.3 10.3a1 1 0 011.4 1.4l-4 4a1 1 0 01-1.4 0l-4-4a1 1 0 011.4-1.4l3.3 3.29 3.3-3.3z"/></svg>
            </button>
        </div>
        <div class="py-8 pt-2 -ml-16">
            <h2 class="ml-4 font-bold">Subject Code:</h2>
            <ul x-show="open" class="z-10 w-full text-indigo-600 origin-top bg-white shadow-lg"
            x-transition:enter="transition ease-out duration-200"
            x-transition:enter-start="opacity-0 transform scale-y-50"
            x-transition:enter-end="opacity-100 transform scale-y-100"
            x-transition:leave="transition ease-in duration-300"
            x-transition:leave-end="opacity-0 transform scale-y-50"
        >
            <li><a href="#" class="block px-4 py-1 hover:bg-indigo-100">Description</a></li>
            <li><a href="#" class="block px-4 py-1 hover:bg-indigo-100">Instructor</a></li>
            <li><a href="#" class="block px-4 py-1 hover:bg-indigo-100">Units</a></li>
            <li><a href="#" class="block px-4 py-1 hover:bg-indigo-100">Schedule</a></li>           
        </ul>
        </div>
        <div class="py-8 pt-2 -ml-11">
            <h2 class="ml-4 font-bold">CC-303</h2>
            <ul x-show="open" class="z-10 w-full text-indigo-600 origin-top bg-white shadow-lg"
            x-transition:enter="transition ease-out duration-200"
            x-transition:enter-start="opacity-0 transform scale-y-50"
            x-transition:enter-end="opacity-100 transform scale-y-100"
            x-transition:leave="transition ease-in duration-300"
            x-transition:leave-end="opacity-0 transform scale-y-50"
        >
            <li><a href="#" class="block px-4 py-1 hover:bg-indigo-100">Research</a></li>
            <li><a href="#" class="block px-4 py-1 hover:bg-indigo-100">May Garcia</a></li>
            <li><a href="#" class="block px-4 py-1 hover:bg-indigo-100">3</a></li>
            <li><a href="#" class="block px-4 py-1 hover:bg-indigo-100">M 6:00PM-9:00PM TBA</a></li>
        </ul>
        </div>

        </div>

        <div class="relative grid w-full grid-cols-3 gap-4 leading-6 " x-data="{open: false}">
        <div class="w-48 py-8 pl-8">
            <button @click="open = !open" class=" focus:outline-none bg-red-700 rounded-full overflow-hidden shadow cursor-pointer inline-block text-gray-700 p-2 pl-3.5 pr-2 " :class="{ 'shadow-none border-indigo-300': open}">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" :class="{'rotate-180': open}" class="inline-block w-6 h-6 -ml-1 text-center text-white duration-300 transform fill-current"><path fill-rule="evenodd" d="M15.3 10.3a1 1 0 011.4 1.4l-4 4a1 1 0 01-1.4 0l-4-4a1 1 0 011.4-1.4l3.3 3.29 3.3-3.3z"/></svg>
            </button>
        </div>
        <div class="py-10 -ml-16">
            <h2 class="ml-4 font-bold">Subject Code:</h2>
            <ul x-show="open" class="z-10 w-full text-indigo-600 origin-top bg-white shadow-lg"
            x-transition:enter="transition ease-out duration-200"
            x-transition:enter-start="opacity-0 transform scale-y-50"
            x-transition:enter-end="opacity-100 transform scale-y-100"
            x-transition:leave="transition ease-in duration-300"
            x-transition:leave-end="opacity-0 transform scale-y-50"
        >
            <li><a href="#" class="block px-4 py-1 hover:bg-indigo-100">Description</a></li>
            <li><a href="#" class="block px-4 py-1 hover:bg-indigo-100">Instructor</a></li>
            <li><a href="#" class="block px-4 py-1 hover:bg-indigo-100">Units</a></li>
            <li><a href="#" class="block px-4 py-1 hover:bg-indigo-100">Schedule</a></li>
        </ul>
        </div>
        <div class="py-10 -ml-11">
            <h2 class="ml-4 font-bold">CC-303</h2>
            <ul x-show="open" class="z-10 w-full text-indigo-600 origin-top bg-white shadow-lg"
            x-transition:enter="transition ease-out duration-200"
            x-transition:enter-start="opacity-0 transform scale-y-50"
            x-transition:enter-end="opacity-100 transform scale-y-100"
            x-transition:leave="transition ease-in duration-300"
            x-transition:leave-end="opacity-0 transform scale-y-50"
        >
            <li><a href="#" class="block px-4 py-1 hover:bg-indigo-100">Research</a></li>
            <li><a href="#" class="block px-4 py-1 hover:bg-indigo-100">May Garcia</a></li>
            <li><a href="#" class="block px-4 py-1 hover:bg-indigo-100">3</a></li>
            <li><a href="#" class="block px-4 py-1 hover:bg-indigo-100">M 6:00PM-9:00PM TBA</a></li>
        </ul>
        </div>

        </div>

        <div class="relative grid w-full grid-cols-3 gap-4 leading-6 " x-data="{open: false}">
        <div class="w-48 py-8 pl-8">
            <button @click="open = !open" class="focus:outline-none bg-red-700 rounded-full overflow-hidden shadow cursor-pointer inline-block text-gray-700 p-2 pl-3.5 pr-2 " :class="{ 'shadow-none border-indigo-300': open}">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" :class="{'rotate-180': open}" class="inline-block w-6 h-6 -ml-1 text-center text-white duration-300 transform fill-current"><path fill-rule="evenodd" d="M15.3 10.3a1 1 0 011.4 1.4l-4 4a1 1 0 01-1.4 0l-4-4a1 1 0 011.4-1.4l3.3 3.29 3.3-3.3z"/></svg>
            </button>
        </div>
        <div class="py-10 -ml-16">
            <h2 class="ml-4 font-bold">Subject Code:</h2>
            <ul x-show="open" class="z-10 w-full text-indigo-600 origin-top bg-white shadow-lg"
            x-transition:enter="transition ease-out duration-200"
            x-transition:enter-start="opacity-0 transform scale-y-50"
            x-transition:enter-end="opacity-100 transform scale-y-100"
            x-transition:leave="transition ease-in duration-300"
            x-transition:leave-end="opacity-0 transform scale-y-50"
        >
            <li><a href="#" class="block px-4 py-1 hover:bg-indigo-100">Description</a></li>
            <li><a href="#" class="block px-4 py-1 hover:bg-indigo-100">Instructor</a></li>
            <li><a href="#" class="block px-4 py-1 hover:bg-indigo-100">Units</a></li>
            <li><a href="#" class="block px-4 py-1 hover:bg-indigo-100">Schedule</a></li>
        </ul>
        </div>
        <div class="py-10 -ml-11">
            <h2 class="ml-4 font-bold">CC-303</h2>
            <ul x-show="open" class="z-10 w-full text-indigo-600 origin-top bg-white shadow-lg"
            x-transition:enter="transition ease-out duration-200"
            x-transition:enter-start="opacity-0 transform scale-y-50"
            x-transition:enter-end="opacity-100 transform scale-y-100"
            x-transition:leave="transition ease-in duration-300"
            x-transition:leave-end="opacity-0 transform scale-y-50"
        >
            <li><a href="#" class="block px-4 py-1 hover:bg-indigo-100">Research</a></li>
            <li><a href="#" class="block px-4 py-1 hover:bg-indigo-100">May Garcia</a></li>
            <li><a href="#" class="block px-4 py-1 hover:bg-indigo-100">3</a></li>
            <li><a href="#" class="block px-4 py-1 hover:bg-indigo-100">M 6:00PM-9:00PM TBA</a></li>
        </ul>
        </div>

        </div>

        <div class="relative grid w-full grid-cols-3 gap-4 leading-6 " x-data="{open: false}">
        <div class="w-48 py-8 pl-8">
            <button @click="open = !open" class="focus:outline-none bg-red-700 rounded-full overflow-hidden shadow cursor-pointer inline-block text-gray-700 p-2 pl-3.5 pr-2 " :class="{ 'shadow-none border-indigo-300': open}">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" :class="{'rotate-180': open}" class="inline-block w-6 h-6 -ml-1 text-center text-white duration-300 transform fill-current"><path fill-rule="evenodd" d="M15.3 10.3a1 1 0 011.4 1.4l-4 4a1 1 0 01-1.4 0l-4-4a1 1 0 011.4-1.4l3.3 3.29 3.3-3.3z"/></svg>
            </button>
        </div>
        <div class="py-10 -ml-16">
            <h2 class="ml-4 font-bold">Subject Code:</h2>
            <ul x-show="open" class="z-10 w-full text-indigo-600 origin-top bg-white shadow-lg"
            x-transition:enter="transition ease-out duration-200"
            x-transition:enter-start="opacity-0 transform scale-y-50"
            x-transition:enter-end="opacity-100 transform scale-y-100"
            x-transition:leave="transition ease-in duration-300"
            x-transition:leave-end="opacity-0 transform scale-y-50"
        >
            <li><a href="#" class="block px-4 py-1 hover:bg-indigo-100">Description</a></li>
            <li><a href="#" class="block px-4 py-1 hover:bg-indigo-100">Instructor</a></li>
            <li><a href="#" class="block px-4 py-1 hover:bg-indigo-100">Units</a></li>
            <li><a href="#" class="block px-4 py-1 hover:bg-indigo-100">Schedule</a></li>
        </ul>
        </div>
        <div class="py-10 -ml-11">
            <h2 class="ml-4 font-bold">CC-303</h2>
            <ul x-show="open" class="z-10 w-full text-indigo-600 origin-top bg-white shadow-lg"
            x-transition:enter="transition ease-out duration-200"
            x-transition:enter-start="opacity-0 transform scale-y-50"
            x-transition:enter-end="opacity-100 transform scale-y-100"
            x-transition:leave="transition ease-in duration-300"
            x-transition:leave-end="opacity-0 transform scale-y-50"
        >
            <li><a href="#" class="block px-4 py-1 hover:bg-indigo-100">Research</a></li>
            <li><a href="#" class="block px-4 py-1 hover:bg-indigo-100">May Garcia</a></li>
            <li><a href="#" class="block px-4 py-1 hover:bg-indigo-100">3</a></li>
            <li><a href="#" class="block px-4 py-1 hover:bg-indigo-100">M 6:00PM-9:00PM TBA</a></li>
        </ul>
        </div>

        </div>

        <div class="relative grid w-full grid-cols-3 gap-4 leading-6 " x-data="{open: false}">
        <div class="w-48 py-8 pl-8">
            <button @click="open = !open" class="focus:outline-none bg-red-700 rounded-full overflow-hidden shadow cursor-pointer inline-block text-gray-700 p-2 pl-3.5 pr-2 " :class="{ 'shadow-none border-indigo-300': open}">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" :class="{'rotate-180': open}" class="inline-block w-6 h-6 -ml-1 text-center text-white duration-300 transform fill-current"><path fill-rule="evenodd" d="M15.3 10.3a1 1 0 011.4 1.4l-4 4a1 1 0 01-1.4 0l-4-4a1 1 0 011.4-1.4l3.3 3.29 3.3-3.3z"/></svg>
            </button>
        </div>
        <div class="py-10 -ml-16">
            <h2 class="ml-4 font-bold">Subject Code:</h2>
            <ul x-show="open" class="z-10 w-full text-indigo-600 origin-top bg-white shadow-lg"
            x-transition:enter="transition ease-out duration-200"
            x-transition:enter-start="opacity-0 transform scale-y-50"
            x-transition:enter-end="opacity-100 transform scale-y-100"
            x-transition:leave="transition ease-in duration-300"
            x-transition:leave-end="opacity-0 transform scale-y-50"
        >
            <li><a href="#" class="block px-4 py-1 hover:bg-indigo-100">Description</a></li>
            <li><a href="#" class="block px-4 py-1 hover:bg-indigo-100">Instructor</a></li>
            <li><a href="#" class="block px-4 py-1 hover:bg-indigo-100">Units</a></li>
            <li><a href="#" class="block px-4 py-1 hover:bg-indigo-100">Schedule</a></li>
        </ul>
        </div>
        <div class="py-10 -ml-11">
            <h2 class="ml-4 font-bold">CC-303</h2>
            <ul x-show="open" class="z-10 w-full text-indigo-600 origin-top bg-white shadow-lg"
            x-transition:enter="transition ease-out duration-200"
            x-transition:enter-start="opacity-0 transform scale-y-50"
            x-transition:enter-end="opacity-100 transform scale-y-100"
            x-transition:leave="transition ease-in duration-300"
            x-transition:leave-end="opacity-0 transform scale-y-50"
        >
            <li><a href="#" class="block px-4 py-1 hover:bg-indigo-100">Research</a></li>
            <li><a href="#" class="block px-4 py-1 hover:bg-indigo-100">May Garcia</a></li>
            <li><a href="#" class="block px-4 py-1 hover:bg-indigo-100">3</a></li>
            <li><a href="#" class="block px-4 py-1 hover:bg-indigo-100">M 6:00PM-9:00PM TBA</a></li>
        </ul>
        </div>

        </div>

        <div class="relative grid w-full grid-cols-3 gap-4 leading-6 " x-data="{open: false}">
        <div class="w-48 py-8 pl-8">
            <button @click="open = !open" class="focus:outline-none bg-red-700 rounded-full overflow-hidden shadow cursor-pointer inline-block text-gray-700 p-2 pl-3.5 pr-2 " :class="{ 'shadow-none border-indigo-300': open}">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" :class="{'rotate-180': open}" class="inline-block w-6 h-6 -ml-1 text-center text-white duration-300 transform fill-current"><path fill-rule="evenodd" d="M15.3 10.3a1 1 0 011.4 1.4l-4 4a1 1 0 01-1.4 0l-4-4a1 1 0 011.4-1.4l3.3 3.29 3.3-3.3z"/></svg>
            </button>
        </div>
        <div class="py-10 -ml-16">
            <h2 class="ml-4 font-bold">Subject Code:</h2>
            <ul x-show="open" class="z-10 w-full text-indigo-600 origin-top bg-white shadow-lg"
            x-transition:enter="transition ease-out duration-200"
            x-transition:enter-start="opacity-0 transform scale-y-50"
            x-transition:enter-end="opacity-100 transform scale-y-100"
            x-transition:leave="transition ease-in duration-300"
            x-transition:leave-end="opacity-0 transform scale-y-50"
        >
            <li><a href="#" class="block px-4 py-1 hover:bg-indigo-100">Description</a></li>
            <li><a href="#" class="block px-4 py-1 hover:bg-indigo-100">Instructor</a></li>
            <li><a href="#" class="block px-4 py-1 hover:bg-indigo-100">Units</a></li>
            <li><a href="#" class="block px-4 py-1 hover:bg-indigo-100">Schedule</a></li>
        </ul>
        </div>
        <div class="py-10 -ml-11">
            <h2 class="ml-4 font-bold">CC-303</h2>
            <ul x-show="open" class="z-10 w-full text-indigo-600 origin-top bg-white shadow-lg"
            x-transition:enter="transition ease-out duration-200"
            x-transition:enter-start="opacity-0 transform scale-y-50"
            x-transition:enter-end="opacity-100 transform scale-y-100"
            x-transition:leave="transition ease-in duration-300"
            x-transition:leave-end="opacity-0 transform scale-y-50"
        >
            <li><a href="#" class="block px-4 py-1 hover:bg-indigo-100">Research</a></li>
            <li><a href="#" class="block px-4 py-1 hover:bg-indigo-100">May Garcia</a></li>
            <li><a href="#" class="block px-4 py-1 hover:bg-indigo-100">3</a></li>
            <li><a href="#" class="block px-4 py-1 hover:bg-indigo-100">M 6:00PM-9:00PM TBA</a></li>
        </ul>
        </div>

        </div>

        <div class="relative grid w-full grid-cols-3 gap-4 leading-6 " x-data="{open: false}">
        <div class="w-48 py-8 pl-8">
            <button @click="open = !open" class="focus:outline-none bg-red-700 rounded-full overflow-hidden shadow cursor-pointer inline-block text-gray-700 p-2 pl-3.5 pr-2 " :class="{ 'shadow-none border-indigo-300': open}">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" :class="{'rotate-180': open}" class="inline-block w-6 h-6 -ml-1 text-center text-white duration-300 transform fill-current"><path fill-rule="evenodd" d="M15.3 10.3a1 1 0 011.4 1.4l-4 4a1 1 0 01-1.4 0l-4-4a1 1 0 011.4-1.4l3.3 3.29 3.3-3.3z"/></svg>
            </button>
        </div>
        <div class="py-10 -ml-16">
            <h2 class="ml-4 font-bold">Subject Code:</h2>
            <ul x-show="open" class="z-10 w-full text-indigo-600 origin-top bg-white shadow-lg"
            x-transition:enter="transition ease-out duration-200"
            x-transition:enter-start="opacity-0 transform scale-y-50"
            x-transition:enter-end="opacity-100 transform scale-y-100"
            x-transition:leave="transition ease-in duration-300"
            x-transition:leave-end="opacity-0 transform scale-y-50"
        >
            <li><a href="#" class="block px-4 py-1 hover:bg-indigo-100">Description</a></li>
            <li><a href="#" class="block px-4 py-1 hover:bg-indigo-100">Instructor</a></li>
            <li><a href="#" class="block px-4 py-1 hover:bg-indigo-100">Units</a></li>
            <li><a href="#" class="block px-4 py-1 hover:bg-indigo-100">Schedule</a></li>
        </ul>
        </div>
        <div class="py-10 -ml-11">
            <h2 class="ml-4 font-bold">CC-303</h2>
            <ul x-show="open" class="z-10 w-full text-indigo-600 origin-top bg-white shadow-lg"
            x-transition:enter="transition ease-out duration-200"
            x-transition:enter-start="opacity-0 transform scale-y-50"
            x-transition:enter-end="opacity-100 transform scale-y-100"
            x-transition:leave="transition ease-in duration-300"
            x-transition:leave-end="opacity-0 transform scale-y-50"
        >
            <li><a href="#" class="block px-4 py-1 hover:bg-indigo-100">Research</a></li>
            <li><a href="#" class="block px-4 py-1 hover:bg-indigo-100">May Garcia</a></li>
            <li><a href="#" class="block px-4 py-1 hover:bg-indigo-100">3</a></li>
            <li><a href="#" class="block px-4 py-1 hover:bg-indigo-100">M 6:00PM-9:00PM TBA</a></li>
        </ul>
        </div>

        </div>

        <div class="relative grid w-full grid-cols-3 gap-4 leading-6 " x-data="{open: false}">
        <div class="w-48 py-8 pl-8">
            <button @click="open = !open" class="focus:outline-none bg-red-700 rounded-full overflow-hidden shadow cursor-pointer inline-block text-gray-700 p-2 pl-3.5 pr-2 " :class="{ 'shadow-none border-indigo-300': open}">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" :class="{'rotate-180': open}" class="inline-block w-6 h-6 -ml-1 text-center text-white duration-300 transform fill-current"><path fill-rule="evenodd" d="M15.3 10.3a1 1 0 011.4 1.4l-4 4a1 1 0 01-1.4 0l-4-4a1 1 0 011.4-1.4l3.3 3.29 3.3-3.3z"/></svg>
            </button>
        </div>
        <div class="py-10 -ml-16">
            <h2 class="ml-4 font-bold">Subject Code:</h2>
            <ul x-show="open" class="z-10 w-full text-indigo-600 origin-top bg-white shadow-lg"
            x-transition:enter="transition ease-out duration-200"
            x-transition:enter-start="opacity-0 transform scale-y-50"
            x-transition:enter-end="opacity-100 transform scale-y-100"
            x-transition:leave="transition ease-in duration-300"
            x-transition:leave-end="opacity-0 transform scale-y-50"
        >
            <li><a href="#" class="block px-4 py-1 hover:bg-indigo-100">Description</a></li>
            <li><a href="#" class="block px-4 py-1 hover:bg-indigo-100">Instructor</a></li>
            <li><a href="#" class="block px-4 py-1 hover:bg-indigo-100">Units</a></li>
            <li><a href="#" class="block px-4 py-1 hover:bg-indigo-100">Schedule</a></li>
        </ul>
        </div>
        <div class="py-10 -ml-11">
            <h2 class="ml-4 font-bold">CC-303</h2>
            <ul x-show="open" class="z-10 w-full text-indigo-600 origin-top bg-white shadow-lg"
            x-transition:enter="transition ease-out duration-200"
            x-transition:enter-start="opacity-0 transform scale-y-50"
            x-transition:enter-end="opacity-100 transform scale-y-100"
            x-transition:leave="transition ease-in duration-300"
            x-transition:leave-end="opacity-0 transform scale-y-50"
        >
            <li><a href="#" class="block px-4 py-1 hover:bg-indigo-100">Research</a></li>
            <li><a href="#" class="block px-4 py-1 hover:bg-indigo-100">May Garcia</a></li>
            <li><a href="#" class="block px-4 py-1 hover:bg-indigo-100">3</a></li>
            <li><a href="#" class="block px-4 py-1 hover:bg-indigo-100">M 6:00PM-9:00PM TBA</a></li>
        </ul>
        </div>

        </div>

        <div class="relative grid w-full grid-cols-3 gap-4 leading-6 " x-data="{open: false}">
        <div class="w-48 py-8 pl-8">
            <button @click="open = !open" class="focus:outline-none bg-red-700 rounded-full overflow-hidden shadow cursor-pointer inline-block text-gray-700 p-2 pl-3.5 pr-2 " :class="{ 'shadow-none border-indigo-300': open}">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" :class="{'rotate-180': open}" class="inline-block w-6 h-6 -ml-1 text-center text-white duration-300 transform fill-current"><path fill-rule="evenodd" d="M15.3 10.3a1 1 0 011.4 1.4l-4 4a1 1 0 01-1.4 0l-4-4a1 1 0 011.4-1.4l3.3 3.29 3.3-3.3z"/></svg>
            </button>
        </div>
        <div class="py-10 -ml-16">
            <h2 class="ml-4 font-bold">Subject Code:</h2>
            <ul x-show="open" class="z-10 w-full text-indigo-600 origin-top bg-white shadow-lg"
            x-transition:enter="transition ease-out duration-200"
            x-transition:enter-start="opacity-0 transform scale-y-50"
            x-transition:enter-end="opacity-100 transform scale-y-100"
            x-transition:leave="transition ease-in duration-300"
            x-transition:leave-end="opacity-0 transform scale-y-50"
        >
            <li><a href="#" class="block px-4 py-1 hover:bg-indigo-100">Description</a></li>
            <li><a href="#" class="block px-4 py-1 hover:bg-indigo-100">Instructor</a></li>
            <li><a href="#" class="block px-4 py-1 hover:bg-indigo-100">Units</a></li>
            <li><a href="#" class="block px-4 py-1 hover:bg-indigo-100">Schedule</a></li>
        </ul>
        </div>
        <div class="py-10 -ml-11">
            <h2 class="ml-4 font-bold">CC-303</h2>
            <ul x-show="open" class="z-10 w-full text-indigo-600 origin-top bg-white shadow-lg"
            x-transition:enter="transition ease-out duration-200"
            x-transition:enter-start="opacity-0 transform scale-y-50"
            x-transition:enter-end="opacity-100 transform scale-y-100"
            x-transition:leave="transition ease-in duration-300"
            x-transition:leave-end="opacity-0 transform scale-y-50"
        >
            <li><a href="#" class="block px-4 py-1 hover:bg-indigo-100">Research</a></li>
            <li><a href="#" class="block px-4 py-1 hover:bg-indigo-100">May Garcia</a></li>
            <li><a href="#" class="block px-4 py-1 hover:bg-indigo-100">3</a></li>
            <li><a href="#" class="block px-4 py-1 hover:bg-indigo-100">M 6:00PM-9:00PM TBA</a></li>
        </ul>
        </div>

        </div>

        <div class="relative grid w-full grid-cols-3 gap-4 leading-6 " x-data="{open: false}">
        <div class="w-48 py-8 pl-8">
            <button @click="open = !open" class="focus:outline-none bg-red-700 rounded-full overflow-hidden shadow cursor-pointer inline-block text-gray-700 p-2 pl-3.5 pr-2 " :class="{ 'shadow-none border-indigo-300': open}">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" :class="{'rotate-180': open}" class="inline-block w-6 h-6 -ml-1 text-center text-white duration-300 transform fill-current"><path fill-rule="evenodd" d="M15.3 10.3a1 1 0 011.4 1.4l-4 4a1 1 0 01-1.4 0l-4-4a1 1 0 011.4-1.4l3.3 3.29 3.3-3.3z"/></svg>
            </button>
        </div>
        <div class="py-10 -ml-16">
            <h2 class="ml-4 font-bold">Subject Code:</h2>
            <ul x-show="open" class="z-10 w-full text-indigo-600 origin-top bg-white shadow-lg"
            x-transition:enter="transition ease-out duration-200"
            x-transition:enter-start="opacity-0 transform scale-y-50"
            x-transition:enter-end="opacity-100 transform scale-y-100"
            x-transition:leave="transition ease-in duration-300"
            x-transition:leave-end="opacity-0 transform scale-y-50"
        >
            <li><a href="#" class="block px-4 py-1 hover:bg-indigo-100">Description</a></li>
            <li><a href="#" class="block px-4 py-1 hover:bg-indigo-100">Instructor</a></li>
            <li><a href="#" class="block px-4 py-1 hover:bg-indigo-100">Units</a></li>
            <li><a href="#" class="block px-4 py-1 hover:bg-indigo-100">Schedule</a></li>
        </ul>
        </div>
        <div class="py-10 -ml-11">
            <h2 class="ml-4 font-bold">CC-303</h2>
            <ul x-show="open" class="z-10 w-full text-indigo-600 origin-top bg-white shadow-lg"
            x-transition:enter="transition ease-out duration-200"
            x-transition:enter-start="opacity-0 transform scale-y-50"
            x-transition:enter-end="opacity-100 transform scale-y-100"
            x-transition:leave="transition ease-in duration-300"
            x-transition:leave-end="opacity-0 transform scale-y-50"
        >
            <li><a href="#" class="block px-4 py-1 hover:bg-indigo-100">Research</a></li>
            <li><a href="#" class="block px-4 py-1 hover:bg-indigo-100">May Garcia</a></li>
            <li><a href="#" class="block px-4 py-1 hover:bg-indigo-100">3</a></li>
            <li><a href="#" class="block px-4 py-1 hover:bg-indigo-100">M 6:00PM-9:00PM TBA</a></li>
        </ul>
        </div>

        </div>

        <div class="relative grid w-full grid-cols-3 gap-4 leading-6 " x-data="{open: false}">
        <div class="w-48 py-8 pl-8">
            <button @click="open = !open" class="focus:outline-none bg-red-700 rounded-full overflow-hidden shadow cursor-pointer inline-block text-gray-700 p-2 pl-3.5 pr-2 " :class="{ 'shadow-none border-indigo-300': open}">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" :class="{'rotate-180': open}" class="inline-block w-6 h-6 -ml-1 text-center text-white duration-300 transform fill-current"><path fill-rule="evenodd" d="M15.3 10.3a1 1 0 011.4 1.4l-4 4a1 1 0 01-1.4 0l-4-4a1 1 0 011.4-1.4l3.3 3.29 3.3-3.3z"/></svg>
            </button>
        </div>
        <div class="py-10 -ml-16">
            <h2 class="ml-4 font-bold">Subject Code:</h2>
            <ul x-show="open" class="z-10 w-full text-indigo-600 origin-top bg-white shadow-lg"
            x-transition:enter="transition ease-out duration-200"
            x-transition:enter-start="opacity-0 transform scale-y-50"
            x-transition:enter-end="opacity-100 transform scale-y-100"
            x-transition:leave="transition ease-in duration-300"
            x-transition:leave-end="opacity-0 transform scale-y-50"
        >
            <li><a href="#" class="block px-4 py-1 hover:bg-indigo-100">Description</a></li>
            <li><a href="#" class="block px-4 py-1 hover:bg-indigo-100">Instructor</a></li>
            <li><a href="#" class="block px-4 py-1 hover:bg-indigo-100">Units</a></li>
            <li><a href="#" class="block px-4 py-1 hover:bg-indigo-100">Schedule</a></li>
        </ul>
        </div>
        <div class="py-10 -ml-11">
            <h2 class="ml-4 font-bold">CC-303</h2>
            <ul x-show="open" class="z-10 w-full text-indigo-600 origin-top bg-white shadow-lg"
            x-transition:enter="transition ease-out duration-200"
            x-transition:enter-start="opacity-0 transform scale-y-50"
            x-transition:enter-end="opacity-100 transform scale-y-100"
            x-transition:leave="transition ease-in duration-300"
            x-transition:leave-end="opacity-0 transform scale-y-50"
        >
            <li><a href="#" class="block px-4 py-1 hover:bg-indigo-100">Research</a></li>
            <li><a href="#" class="block px-4 py-1 hover:bg-indigo-100">May Garcia</a></li>
            <li><a href="#" class="block px-4 py-1 hover:bg-indigo-100">3</a></li>
            <li><a href="#" class="block px-4 py-1 hover:bg-indigo-100">M 6:00PM-9:00PM TBA</a></li>
        </ul>
        </div>

        </div>



    </div>

    <!--Mobile to Medium screen Table-->
    <!--Table-->
    <div class="hidden w-full pt-10 pr-10 overflow-auto lg:block xl:w-3/4 ">
        <table class="font-bold uppercase border-4 border-collapse border-gray-300 table-fixed">
            <thead>
                <tr>
                <th class="p-4 border-2 border-gray-300 w-44">#</th>
                <th class="w-1/12 p-4 border-2 border-gray-300">subject code</th>
                <th class="w-2/5 p-8 border-2 border-gray-300">description</th>
                <th class="w-1/4 border-2 border-gray-300">
                    {% if request.user.professors %}
                        Section
                    {% endif %}
                    {% if request.user.students %}
                        Instructor Name
                    {% endif %}
                </th>
                <th class="w-16 p-2 border-2 border-gray-300">Units</th>
                <th class="w-4/6 border-2 border-gray-300">Schedule</th>
                </tr>
            </thead>
            <tbody>
                {% for schedule in schedules %}
                    <tr>
                        <td class="text-center border-2 border-gray-300">{{ forloop.counter }}</td>
                        <td class="py-3 pl-2 border-2 border-gray-300">{{ schedule.subject }}</td>
                        <td class="pl-3 border-2 border-gray-300">{{ schedule.subject.description }}</td>
                        <td class="pl-3 border-2 border-gray-300">
                            {% if request.user.students %}
                                {{ schedule.prof }}
                            {% endif %}
                            {% if request.user.professors %}
                                {{ schedule.section }}
                            {% endif %}
                        </td>
                        <td class="text-center border-2 border-gray-300">{{ schedule.subject.units }}</td>
                        <td class="pl-3 border-2 border-gray-300">{{ schedule.day }} | {{ schedule.room }} | {{ schedule.time }}</td>
                    </tr>
                {% endfor %}
            </tbody>
            </table>
    </div>
</section>
{% endblock %}

{% block scripts %}
<!--JS Scripts-->
<script>

    //Sidebar
    const btn = document.querySelector(".mobile-menu-button");
    const sidebar = document.querySelector(".sidebar");
    
    
    btn.addEventListener("click", () => {
    sidebar.classList.toggle("-translate-x-full");
    });
</script>
{% endblock %}
